body 
{
    font-family: Montserrat; 
    text-align: left;
    margin-left: 2%;
}

p
{
    margin-left: 2%;
    margin-right: 2%;
}

.separationLine
{
    margin-right: 2%;
    border-top: 1px solid #005e80
}

.contactblock
{
    display: flex;
}

.contactDetails
{
    flex: 1;
    order: 1;
    flex-basis: 50%;
}

.photo
{
   flex: 2;
   order: 2;
}

.professionalStrengthsList
{
    display: flex;
    justify-content: flex-start;
    margin-right: 2%;
}

.technicalSkills div
{
    display: flex;
    justify-content: flex-start;
    margin-right: 2%;
}

.experience1 div
{
    display: flex ;
    justify-content: flex-start;
    margin-right: 2%;
}

.experience2 div
{
    display: flex;
    justify-content: flex-start;
    margin-right: 2%;
}

.experience3 div
{
    display: flex;
    justify-content: flex-start;
    margin-right: 2%;
}

.education div
{
    display: flex;
    justify-content: flex-start;
    margin-right: 2%;
}

.volunteerWork div
{
    justify-content: flex-start;
    margin-right: 2%;
}

